<fieldset data-hook='paypal'>
  <legend align='center'><%= Spree.t('paypal.transaction') %></legend>

  <div class='row'>
    <div class='alpha six columns'>
      <dl>
        <dt><%= Spree.t('paypal.payer_id') %>:</dt>
        <dd><%= payment.source.payer_id %></dd>

        <dt><%= Spree.t('paypal.token') %>:</dt>
        <dd><%= payment.source.token %></dd>

        <dt><%= Spree.t('paypal.transaction_id') %>:</dt>
        <dd><%= payment.source.transaction_id %></dd>
      </dl>
    </div>

    <% if payment.source.state != 'refunded' %>
      <%= button_link_to Spree.t('paypal.actions.refund'), spree.paypal_refund_admin_order_payment_path(@order, payment), icon: 'money' %>
    <% else %>
      <div class='alpha six columns'>
        <dl>
          <dt><%= Spree.t('paypal.state') %>:</dt>
          <dd><%= payment.source.state.titleize %></dd>

          <dt><%= Spree.t('paypal.refunded_at') %>:</dt>
          <dd><%= pretty_time(payment.source.refunded_at) %></dd>

          <dt><%= Spree.t('paypal.refund_transaction_id') %>:</dt>
          <dd><%= payment.source.refund_transaction_id %></dd>
        </dl>
      </div>
    <% end %>
  </div>
</fieldset>
